<div class="container-fluid mt-3">
    <div class="row"><div class="col-lg-12"><h2>History</h2></div></div>
    <div class="row">
        <div class="col-lg-3">
            <label for="blockNum">Block Number</label>
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-arrow-down fa-fw" (click)="decrementBlockNum()"></i></span>
                <input id="blockNum" class="form-control" type="text" [(ngModel)]="blockNumber" (ngModelChange)="getBlock()" placeholder="ex: {{blockNumber}}"/> 
                <span class="input-group-addon"><i class="fa fa-arrow-up fa-fw" (click)="incrementBlockNum()"></i></span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row"><div class="col-lg-12"><h4>Block</h4></div></div>
    <div class="row">
        <div class="col-lg-12">
          <pre>{{block | json}}</pre>
        </div>
    </div>
    <hr/>
    <div class="row"><div class="col-lg-12"><h4>Transactions</h4></div></div>
    <table class="table table-striped" style="font-size: 11px">
        <thead>
            <tr>
              <th>Hash</th>
              <th>To</th>
              <th>From</th>
              <th>Value</th>
              <th>Gas</th>
              <th>Gas Price</th>
        </thead>
        <tbody *ngFor="let tx of transactions">
            <tr>  
              <td>{{tx.hash}}</td>
              <td>{{tx.to}}</td>
              <td>{{tx.from}}</td>
              <td>{{_web3Service.toEther(tx.value)}} ETH</td>
              <td>{{tx.gas}}</td>
              <td>{{tx.gasPrice}}</td>
            </tr>
        </tbody>
      </table>
</div>
